@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}
.font-16{
    font-size: 16px;
}
.font-60{
    font-size: 60px;
}
.font-32{
    font-size: 32px;
}
.font-14{
    font-size: 14px;
}
.font-20{
    font-size: 20px;
}
.font-50{
    font-size: 50px;
}
.font-46{
    font-size: 43px;
}
.font-15{
    font-size: 15px;
}

.font-open-sans{
    font-family: 'Open Sans', sans-serif;
}
.font-ubntu{
    font-family: 'Ubuntu', sans-serif;

}
.grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
}
.d-flex{
    display: flex;
}
.img-fluid{
    width: 100%;
    height: auto;
    max-width: 59px;
}

.navigation li {
    list-style-type: none;
    padding: 10px 24px;
    color: #fff;
    font-weight: 400;
}
.btn{
    padding: 12px 25px;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    
}

.color-1{
    background-color: #3c219b;
}
.color-2{
    background-color: transparent;
}
.color-3{
    color: #fff;
}

.header {
    position: relative;
    z-index: 1;
    padding: 10px 20px;
}
section.banner{
    background-image: url('http://ingenioushubs.com/Napp-app-landing/images/Home_Page_shape.png');
    width: 100%;
    height: 850px;
    position: relative;
    margin-top: -80px;
    padding : 200px;
    background-repeat: no-repeat;
}
.banner-heading{
    width: 100%;
}
h1.heading-bold {
    font-weight: 400;
    margin-bottom: 25px;
}
span.heading-norm {
    font-weight: 200;
}
.item-1{
    /* width: 50%; */
    position: relative;
}
.banner-icon{
    background-color: #fff;
    box-shadow: 0px 2px 10px 4px rgba(255, 255, 255, .2);
    transition: ease all .5s;
    padding: 12px 17px;
    border-radius: 50%;
}
h5.icon-heading {
    text-align: center;
    padding-top: 10px;
}
.box-android {
    padding: 0px 50px;
}
.box-apple {
    padding: 0px 50px 0px 0px;
}
.box-apple::after {
    content: " ";
    border-left: 1px solid white;
    position: absolute;
    padding: 24px;
    top: 6px;
    left: 118px;
    opacity: 0.2;
}
.icon-box {
    position: relative;
}
.nav-mobile {
    display: none;
}
img.mobile-img {
    position: absolute;
    left: 66%;
    top: -69px;
    animation: movebounce 3.9s linear infinite;
}
.grid-1{
    display: grid;
    grid-template-columns: 40% 60%;
}
.banner-heading {
    width: 100%;
    padding-top: 20px;
}
h1.site-h1::after {
    content: "About";
    font-family: 'Ubuntu';
    font-weight: 400;
    font-size: 80px;
    z-index: -1;
    position: absolute;
    transform: translateX(-115px);
    color: #ddd;
    top: -36px;
    left: 50%;
}

.text-center{
    text-align: center;
}
section.about-us{
    position: relative;
}
.item-2{
    width: 50%;
    position: relative;
}
.color-4{
  color: #444444;
}
.color-5{
    color: #222;
}
p.about-desc {
    margin: 23px 0;
    line-height: 26px;
}
h1.counter-num {
    font-size: 20px;
    font-family: 'Ubuntu';
    font-weight: 500;
    text-align: center;
}
h1.counter-text{
    font-size: 20px;
    font-family: 'Ubuntu';
    font-weight: 500;
    text-align: center;
    line-height: 37px;
}
.counter-wrapper {
    margin-top: 65px;
}
.about-img-wrapper{
    text-align: center;
}
.about-img-wrapper::after {
    content: "";
    width: 459px;
    background: url("http://ingenioushubs.com/Napp-app-landing/images/about-screenshort.png");
    position: absolute;
    top: 0;
    display: inline-block;
    height: 473px;
    background-repeat: no-repeat;
    top: 78px;
    left: 282px;
    z-index: -1;
}
.about-img-wrapper::before {
    content: "";
    background: url("http://ingenioushubs.com/Napp-app-landing/images/dots.png");
    position: absolute;
    width: 495px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top;
    left: -87px;
    background-size: auto;
    z-index: -1;
    top: -106px;
}
.about-content {
    padding: 200px 0;
}


























@keyframes movebounce {
    0% {
      transform: translateY(0px); }
    50% {
      transform: translateY(20px); }
    100% {
      transform: translateY(0px); } }
  @keyframes moveleftbounce {
    0% {
      transform: translateX(-10px); }
    50% {
      transform: translateX(30px); }
    100% {
      transform: translateX(-10px); }
     }
  